<footer class="py-24 bg-teal-100 text-gray-700">
    <div class="container mx-auto px-10">
        <!-- top footer -->
        <div class="flex justify-between">
            <!-- newsletter -->
            <div></div>
            <!-- links -->
            <div></div>
        </div>

        <!-- bottom footer -->
        <div class="mt-4 pt-4 flex justify-between border-t border-gray-200 text-gray-600">
            <!-- copyright -->
            <div>
                Copyright &copy; {{ today | date: 'yyyy' }}
            </div>
            <!-- links -->
            <div>Links</div>
        </div>

        <!-- <div class="container">
            <a
                class="logo-font"
                routerLink="/"
            >
                conduit
            </a>
            <span class="attribution">
                &copy; {{ today | date: 'yyyy' }}.
      An interactive learning project from
                <a href="https://thinkster.io">Thinkster</a>
                .
      Code licensed under MIT.
            </span>
        </div> -->

    </div>
</footer>
