<div class="bg-gradient-to-br from-white to-gray-400 ">
    <!-- =========================== -->
    <!-- left circle -->
    <div class="relative top-0 left-0 transform translate-x-2 translate-y-16">
        <div class="z-0 absolute opacity-50 w-64 h-64 rounded-full bg-gradient-to-br from-teal-50 to-teal-200"></div>
        <div class="z-0 absolute opacity-50 ml-10 mt-10 w-64 h-64 rounded-full bg-gradient-to-br from-purple-50 to-purple-200 "></div>
        <div class="z-0 absolute opacity-50 ml-24 w-64 h-64 rounded-full bg-gradient-to-br from-red-50 to-red-200"></div>
    </div>
    <!-- right circle -->
    <div class="hidden lg:block absolute top-20 right-0 mr-48 transform -translate-x-64 translate-y-64">
        <div class="absolute opacity-50 w-64 h-64 rounded-full bg-gradient-to-br from-teal-50 to-teal-100 shadow-lg"></div>
        <div class="absolute opacity-50 ml-10 mt-10 w-64 h-64 rounded-full bg-gradient-to-br from-purple-50 to-purple-100 shadow-lg"></div>
        <div class="absolute opacity-50 ml-24 w-64 h-64 rounded-full bg-gradient-to-br from-red-50 to-red-100 shadow-lg"></div>
    </div>

    <!-- heading -->
    <div class="relative text-gray-600 text-center">
        <div class="container mx-auto px-6 lg:px-2  py-24">
            <h1 class="z-40 mb-4 text-6xl lg:text-8xl tracking-wide ">

                <span class="text-transparent bg-clip-text bg-gradient-to-r from-teal-500 to-teal-700">Feld</span>
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-teal-700 via-purple-500 to-purple-700">enkrais Media</span>
            </h1>
            <p class="m-2 lg:m-8 text-lg lg:text-xl px-12 lg:px-64">
                We have more experience of movement and more capacity for it than of feeling and thought... We know much more about movement than we do about anger, love, envy or even thought. It is relatively easy to learn to recognize the quality of movement than the quality of other factors.
            </p>
            <a
                routerLink="#"
                class="inline-block mb-16 lg:mb-32 py-3 px-12 rounded bg-gradient-to-br from-purple-400 to-purple-600 hover:to-purple-500 text-purple-100 hover:text-white shadow hover:shadow-2xl text-lg text-bold tracking-wide transition duration-500"
            >
                Lets Start
            </a>

            <div class="flex justify-center">
                <img
                    src="../../assets/Amherst-training-Ad.jpg"
                    alt="Amherst training Ad"
                    class="relative rounded-lg shadow-xl border-4 border-purple-400"
                >

                <div class="absolute bg-yellow-100 lg:transform lg:translate-x-4 lg:-translate-y-4 text-left py-4 px-8 -mt-8 lg:-mt-4 rounded shadow-lg text-yellow-800 border-yellow-500 border-t-4">
                    <p>
                        Original Amherst Feldenkrais Professional Training Advertisment
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
